html {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}


.clock-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    height: 100vh;
}

.clock-items-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}

.clock-items {
    font-size: 2rem;
}

.date-btn {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    background-color: rgb(4, 157, 174);
    color:white;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.15s all;
}

.date-btn:hover {
    padding: 1.5rem 3rem;
    background-color: rgb(12, 98, 95);
    animation: ease-out all;
}

.full-date {
    color: white;
}
