@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    background-color: black;   
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

* > * {
    color: white;
    font-family: "Poppins", sans-serif;
}

/* tictactoe */

.title {
    text-align: center;
    font-size: 2rem;
    color: rgb(228, 71, 71);
}

.toe {
    color: rgb(34, 196, 34);
}

.cells-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.4rem;
    padding: 0.4rem 0.4rem;
    border: 0.3rem solid rgb(14, 121, 222);
    border-radius: 0.8rem;
}

.cell {
    border: 0.2rem solid white;
    display: flex;
    align-items: center;
    justify-content: center; 
    cursor: pointer;
    min-width: 4rem;
    min-height: 4rem;
    border-radius: 0.4rem;
    font-size:2.5rem;
}

.turn {
    text-align: center;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    gap: 0.8rem;
}

.reset {
    padding: 0.5rem 2rem;
    background-color: black;
    border: 0.2rem solid rgb(14, 121, 222);
    font-weight: bold;
    font-size: 1.4rem;
    border-radius: 0.5rem;
    transition: all ease-out 0.15s;
}

.reset:hover {
    color: rgb(14, 121, 222);
    padding: 0.8rem 2.5rem;
    font-size: 1.8rem;
    border-color: rgba(34, 196, 34, 0.701);
}